# Cours 1 : les bases du langage Python

In [12]:
import sys

In [13]:
print(sys.version)

3.9.16 (main, Jan 11 2023, 10:02:19)
[Clang 14.0.6 ]

In [1]:
print("totyo")

totyo

In [2]:
i = 2
s = "hello"
f = 3.6
b = True

In [3]:
print(i, type(i))
print(f, type(f))
print(s, type(s))
print(b, type(b))
i = "hello"
print(i, type(i))

2 <class 'int'>
3.6 <class 'float'>
hello <class 'str'>
True <class 'bool'>
hello <class 'str'>

In [4]:
i = i + f
print(i,type(i))

TypeError: can only concatenate str (not "float") to str

In [5]:
s + str(b)

'helloTrue'

In [6]:
s + str(f)

'hello3.6'

In [7]:
print(bool(""))
print(bool("anything"))
b = 8
print(bool())

False
True
False

### Les conditionnels

In [8]:
a = 10
if a > 0 :
    print(a)
else :
    a -= 1
    print(a)

10

In [28]:
a = 20
if(a>0):
    print("le nombre est strictement positif")
elif(a<0):
    print("le nombre est strictement négatif")
else:
    print("le nombre est 0")

le nombre est strictement positif

In [10]:
v = 8

match v:
    case 2:  # valeur statique
        print("le premier nombre premier")
    case 3 | 5 | 7 :  # qui peuvent être combinées
        print("un des nombres premiers inf. à 10")
    case _:  # cas par défaut
        print("Nombre inférieur à 10 non premier ")

SyntaxError: invalid syntax (421767316.py, line 3)

### Les boucles

In [12]:
a = 0
for i in range(0,10):
    a = a + i
print(a)

0
1
3
6
10
15
21
28
36
45

In [15]:
a = 0
i = 0
while(i<10):
    a = a + i
    i = i + 1
print(a)

45

In [1]:
# Calculer le plus petit nombre supérieur à 100 qui est 
# la somme des N premiers entiers.

a = 0
i = 0
while(a < 100):
    a = a + i
    i = i + 1
print(a)

105

In [4]:
a = 0
i = 0
while(i < 30 and a < 200):
    a = a + i
    i = i + 1
print(i, a)

21 210

### Appel fonctions

In [66]:
sqrt(4)

NameError: name 'sqrt' is not defined

In [67]:
math.sqrt(4)

NameError: name 'math' is not defined

In [18]:
import math
print(math.sqrt(2))
print(math.cos(1))

1.4142135623730951
0.5403023058681398

In [90]:
from math import  sqrt, cos,  sin, pi
print(sqrt(2))
## print(math.sqrt(2))  renvoie une erreur
print(cos(pi))
print(sin(-pi))

1.4142135623730951
-1.0
-1.2246467991473532e-16

In [ ]:
from math import *

In [19]:
math.pi

3.141592653589793

### Définir des fonctions

In [2]:
def max(a,b):
    if a>b:
        return a
    else:
        return b

In [13]:
print(max(34,56))
print(max(34, "fgjsd"))

56

TypeError: '>' not supported between instances of 'str' and 'int'

In [99]:
def politesse(nom, titre ="Monsieur"):
    print("Veuillez agréer,", titre, nom, ", mes salutations distinguées.")
politesse("Dupont")
politesse('Durand', 'Mademoiselle')

Veuillez agréer, Monsieur Dupont , mes salutations distinguées.
Veuillez agréer, Mademoiselle Durand , mes salutations distinguées.

In [106]:
def politesse(nom, titre ="Monsieur", niveau = "Jr"):
    print("Veuillez agréer,", titre, nom, niveau, ", mes salutations distinguées.")
politesse("Dupont")
politesse('Durand', 'Mademoiselle')
politesse("Dupont", 'Monsieur','')

Veuillez agréer, Monsieur Dupont Jr , mes salutations distinguées.
Veuillez agréer, Mademoiselle Durand Jr , mes salutations distinguées.
Veuillez agréer, Monsieur Dupont  , mes salutations distinguées.

In [105]:
politesse("Dupont", niveau = 'Sr')
politesse("Dupont", 'Sr')

Veuillez agréer, Monsieur Dupont Sr , mes salutations distinguées.
Veuillez agréer, Sr Dupont Jr , mes salutations distinguées.

# Les structures de données

In [108]:
# tuple ... on peut mélanger les types
t=(1,3,4,"hello")
print(t[2])
print(t)

4
(1, 3, 4, 'hello')

In [110]:
# listes ... on peut mélanger les types, mais cela n'a pas trop de sens
l = [1,2,3,6,-3]
print(l[4])
print(l)

-3
[1, 2, 3, 6, -3]

In [116]:
# on associe des valeurs à des "clefs"
d = {"a":"???", "b":35, "x":27, 23:12, (1,2):56, "zuziu":[1,2,3]}
print(d)
print(d["zuziu"])
print(d[23])
print(d[(1,2)])

{'a': '???', 'b': 35, 'x': 27, 23: 12, (1, 2): 56, 'zuziu': [1, 2, 3]}
[1, 2, 3]
12
56

In [5]:
()
[]
{}

{}

In [25]:
t=(1,3,4,"hello")
l = [1,2,3,6,-3]
d = {"a":"???", "b":35, "x":27, 23:12, (1,2):56, "zuziu":[1,2,3]}

In [7]:
t[0]

1

In [8]:
l[0]

1

In [113]:
d['a']

'???'

In [18]:
l = [2,34,5,4,3,2]

print(l)
print(l[4])    # Elément à l'indice 4 (premier élément à 0)
print(l[-4])   # Elément à l'indice -4 (dernier élément est à l'indice -1)

[2, 34, 5, 4, 3, 2]
3
5

In [10]:
print("# Accès aux éléments de m à n-1 avec   m:n ")
print(l[2:5])  # Tous les éléments d'indice entre 2 et 5 (exclus) 
print(l[2:])   # Tous les éléments d'indice supérieur ou égal à 2
print(l[:2])   # Tous les éléments d'indice inférieur à 2
print(l[1:-2]) # Tous les éléments d'indice entre 1 et -2 (i.e 4) exclus
print(l[1:4])  # Tous les éléments d'indice entre 1 et 4 exclus

# Accès aux éléments de m à n-1 avec   m:n
[5, 4, 3]
[5, 4, 3, 2]
[2, 34]
[34, 5, 4]
[34, 5, 4]

In [21]:
l1 = [1,2,3]
l2 = [4,5,6]
l = l2 + l1
print(l)

[4, 5, 6, 1, 2, 3]

In [12]:
t1 = (1,2)
t2 = (3,"4")
t =  t2+t1
print(t)

(3, '4', 1, 2)

In [13]:
d1 = {"a":(1,2), (1,2):"a",}
d2 = {"bxxxxxz":35, 45:"bon exemple, merci"}
d = d1+d2
print(d)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [20]:
d1 = {"a":(1,2), (1,2):"a",}
print(d1)
print(d1["a"])

d1["a"] = 34
print(d1)
d1["b"] = 34
print(d1)

{'a': (1, 2), (1, 2): 'a'}
(1, 2)
{'a': 34, (1, 2): 'a'}
{'a': 34, (1, 2): 'a', 'b': 34}

In [14]:
t[0] = 0

TypeError: 'tuple' object does not support item assignment

In [23]:
print(l)
l[0] = 0
print(l)

[0, 5, 6, 1, 2, 3]
[0, 5, 6, 1, 2, 3]

IndexError: list assignment index out of range

In [29]:
print(d)
print(d["b"])
d["b"] = 31
print(d)
d["c"] = 45
print(d)
print("a" in d)

{'a': '???', 'b': 31, 'x': 27, 23: 12, (1, 2): 56, 'zuziu': [1, 2, 3], 'c': 45}
31
{'a': '???', 'b': 31, 'x': 27, 23: 12, (1, 2): 56, 'zuziu': [1, 2, 3], 'c': 45}
{'a': '???', 'b': 31, 'x': 27, 23: 12, (1, 2): 56, 'zuziu': [1, 2, 3], 'c': 45}
True

In [22]:
d = {"a":(1,2), (1,2):"a", "bxxxxxz":35, 45:"bon exemple, merci"}
print(d[45])
d["b"] = 234
print(d)

bon exemple, merci
{'a': (1, 2), (1, 2): 'a', 'bxxxxxz': 35, 45: 'bon exemple, merci', 'b': 234}

In [21]:
In [6]: #Les tuples sont utilisés notamment pour avoir des fonctions avec "plusieurs" résultats
def div_avec_test(x,y):
    if y==0:
        return (False,0)
    else:
        return (True,x//y)

print(div_avec_test(7,3))

(True, 2)

### Itérations sur les listes / tuples / dictionnaires

In [25]:
for x in [1,2,3,4,5]:
    print(x,end=" ")

1 2 3 4 5

In [26]:
for x in ("a",3,-1.5):
    print(x,end=" ")

a 3 -1.5

In [27]:
d = {"a":(1,2), (1,2):"a", "bxxxxxz":35, 45:"bon exemple, merci"}
for cle in d:
    print(cle, d[cle])

a (1, 2)
(1, 2) a
bxxxxxz 35
45 bon exemple, merci

In [28]:
t = (3,5,1)
print( len(t) )

l = [1,5,2,6]
print( len(l) )

d = {'a': (1, 2), (1, 2): 'a', 'bxxxxxz': 35, 45: 'bon exemple, merci'}
print( len(d) )

3
4
4

In [29]:
l = [1,5,2,6]

for i in range( len(l) ):
    print( l[i] )

1
5
2
6

In [30]:
d = {"a":(1,2), (1,2):"a", "bxxxxxz":35, 45:"bon exemple, merci"}

In [31]:
print(d.keys())

dict_keys(['a', (1, 2), 'bxxxxxz', 45])

In [32]:
print(d.values())

dict_values([(1, 2), 'a', 35, 'bon exemple, merci'])

In [34]:
print(d.items())

dict_items([('a', (1, 2)), ((1, 2), 'a'), ('bxxxxxz', 35), (45, 'bon exemple, merci')])

In [36]:
print(d)

for k in d.keys():
    print(k, d[k])

{'a': (1, 2), (1, 2): 'a', 'bxxxxxz': 35, 45: 'bon exemple, merci'}
a (1, 2)
(1, 2) a
bxxxxxz 35
45 bon exemple, merci

In [37]:
print(d)

for (cle,values) in d.items():
    print(cle,values)

{'a': (1, 2), (1, 2): 'a', 'bxxxxxz': 35, 45: 'bon exemple, merci'}
a (1, 2)
(1, 2) a
bxxxxxz 35
45 bon exemple, merci

### Itérations abrégées

In [38]:
l = [x**2 for x in range(10)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
l2 = [2*x for x in [y**2 for y in range(10)]]
l2

[0, 2, 8, 18, 32, 50, 72, 98, 128, 162]

## Affectations multiples

In [40]:
#affectation : on peut décomposer
(a,b,c) = (1,2,3)
print(a)
print(b,c)

1
2 3

In [42]:
li = [1,2,3]
[a,b,c] = li
print(b)

2

In [43]:
print(a,b)
(a,b) = (b,a)
print(a,b)

1 2
2 1

In [44]:
temp = a
a = b
b = temp
print(a,b)

1 2

In [45]:
l = [(1,2),(1,3),(4,5)]

for x in l:
    print(x[0],x[1])

1 2
1 3
4 5

In [46]:
for (i,j) in l:
    print(i,j)

1 2
1 3
4 5

## Fonctions, opérateurs et méthodes

In [48]:
t = (3,5,1)
print( len(t) )

l = [1,5,2,6]
print( len(l) )

d = {'a': (1, 2), (1, 2): 'a', 'bxxxxxz': 35, 45: 'bon exemple, merci'}
print( len(d) )

3
4
4

In [49]:
print(3 in t)

True

In [50]:
print(7 in l)

False

In [51]:
print("a" in d)

True

In [52]:
#Concatenation avec +
l1 + [5]

[1, 2, 3, 5]

In [54]:
# Concatenation avec append method

l2.append(5)
l2

[0, 2, 8, 18, 32, 50, 72, 98, 128, 162, 5, 5]

In [59]:
print(l1)
l1.extend([3])
print(l1)

[-2, 2, 67, 33, 3]
[-2, 2, 67, 33, 3, 3]

In [55]:
## insert method

l1 = [2,67,3]      ;  print(l1)
l1.insert(0,32)    ;  print(l1)
l1.insert(3,33)    ;  print(l1)

[2, 67, 3]
[32, 2, 67, 3]
[32, 2, 67, 33, 3]

In [56]:
## reverse method

print(l1)
l1.reverse()
print(l1)

[32, 2, 67, 33, 3]
[3, 33, 67, 2, 32]

In [57]:
## copy method
l1 =  [32, 2, 67, 33, 3]
print(l1)
l_duplicate  =  l1
l_copy = l1.copy()
l_sub = l1[:]

print(id(l1)) ; print(id(l_duplicate)) ;print(id(l_copy)); print(id(l_sub)); print()

l1[0] = -2
print(l1) ; print(l_duplicate) ;  print(l_copy)  ; print(l_sub)

[32, 2, 67, 33, 3]
140694043825920
140694043825920
140694043826368
140694043727232

[-2, 2, 67, 33, 3]
[-2, 2, 67, 33, 3]
[32, 2, 67, 33, 3]
[32, 2, 67, 33, 3]

### dictionnaires

In [60]:
d = {"a":(1,2), (1,2):"a", "bxxxxxz":35, 45:"bon exemple, merci"}

print(d.get('a'))
print(d.get('b',-1))

(1, 2)
-1

### String

In [61]:
s = "Hello"

print(s.upper())  # Mettre tout en majuscule
print(s.lower())  # Mettre tout en minuscule
print(s.swapcase())   # Mettre les minuscules en majuscule et les majuscules en minuscule
print()

HELLO
hello
hELLO

In [63]:
print(s.isalpha())  # Indique si la chaine contient uniquement des caractères alphabétique (True/False)
print(s.isdigit())  # Indique si la chaine contient uniquement des caractères numériques (True/False)
print(s.isalnum())  # Indique si la chaine contient uniquement des caractères alphanumérique (True/False)
print(s)

True
False
True
Hello

In [64]:
print(s)
s.replace('He',"Ha")

Hello

'Hallo'

In [66]:
 # Concaténer une liste avec l’élément ‘s’ entre chaque items de l'argument
s.join("***")

'*Hello*Hello*'

In [67]:
s.join(["12","23","42"])

'12Hello23Hello42'

In [68]:
str = "One ring to rule them all, One ring to find them," 
str += "One ring to bring them all and in the darkness bind them."
str.split(",")

['One ring to rule them all',
 ' One ring to find them',
 'One ring to bring them all and in the darkness bind them.']